<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>PtForecast 0.1</title>
    <meta name="prognose" content="Prognose per Project">
    <meta name="awi" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js" integrity="sha256-R3ADcgm8N2JHZq11qI3th8Wnx1iLlePDb2Fyyb3XioI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <style>
        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
            padding: 5px;
            line-height: 1.42857143;
            vertical-align: middle;
            border-top: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <div id="app">

        <div class="container-fluid">

            <!-- Form Name -->
            <legend>Standopname</legend>

            <form>
                <div v-if="!token || error" class="form-group row">
                    <label for="Url" class="col-sm-2 col-form-label">Profit Rest Service URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="url" v-model="url" aria-describedby="getUrl" placeholder="https://XXXXXX.afasonlineconnector.nl/profitrestservices">
                    </div>
                </div>
                <div v-if="!token || error" class="form-group row">
                    <label for="token" class="col-sm-2 col-form-label"> Token</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="token" v-model="token" aria-describedby="getToken" placeholder="<token>....</token>">
                    </div>
                </div>
                <div v-if="projects" class="form-group  row">
                    <label class="col-sm-2 col-form-label" for="projects">Projects</label>
                    <div class="col-sm-10">
                        <select v-model="selectedProject" class="form-control" id="exampleSelect1">
                          <option v-for="project in projects">{{project.Omschrijving}} ({{project.Nummer_offerte}})</option>
                        </select>
                    </div>
                </div>
                <button v-if="!projects && !selectedProject" @click="getProjects($event)" class="btn btn-sm">Get Projects</button>
            </form>

            <!-- Main component for a primary marketing message or call to action -->
            <table v-if="token" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Omschrijving</th>
                        <th>Begroot</th>
                        <th>Uren</th>
                        <th>Bijstelling (hdg)</th>
                        <th>% gereed (hdg)</th>
                        <th>% gereed (nw)</th>
                        <th>Bijstelling (nw)</th>
                        <th>Toelichting</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="monitorid in monitorids">
                        <th>{{monitorid.Bewakingscode}}</th>
                        <td>{{monitorid.Omschrijving}}</td>
                        <td>{{monitorid.Begroot}}</td>
                        <td>{{parseFloat(monitorid.Aantal_uren).toFixed(2)}}</td>
                        <td>{{monitorid.Bijgesteld}}</td>
                        <td>{{monitorid.__Gereed}}</td>
                        <td>
                            <div class="input-group input-group-xs">
                                <input v-model="monitorid.progressNw" type="number" class="form-control" placeholder="%">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-xs">
                                <input v-model="monitorid.adjustmentNW" type="number" class="form-control" placeholder="" required>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-xs">
                                <input v-model="monitorid.toelichting" type="text" class="form-control" placeholder="...">
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-default" @click="saveMonitorId(monitorid, $event)" aria-label="Settings">
                                <i class="fa fa-save" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pre v-if="error">{{error}}</pre>
            <a @click.prevent="debug=!debug" style="position:fixed;right:0;bottom:0;margin:0px; padding:0px;" class="glyphicon glyphicon-info-sign"></a>
            <a class="btn btn-default btn-xs" style="position:fixed;right:0;bottom:0;margin:0px; padding:0px;" v-if="debug" @click.prevent="clearCache()" aria-label="Settings">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </a>
            <pre v-if="debug">{{monitorids}}</pre>

        </div>
        <!-- /container -->
    </div>
    <script>
        var getParameterByName = function(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var vm = new Vue({
            el: '#app',
            data: {
                debug: false,
                token: null,
                projects: null,
                error: null,
                url: null,
                selectedProject: null,
                monitorids: null,
            },
            mounted() {
                this.getLocalStorage();
                this.getCssInSite();
            },
            methods: {
                clearCache() {
                    localStorage.clear();
                },
                getLocalStorage() {
                    if (!this.token && !this.url) {
                        this.token = (localStorage.getItem('token') ? localStorage.getItem('token') : null)
                        this.url = (localStorage.getItem('url') ? localStorage.getItem('url') : null)
                    }

                    if (this.token) {
                        if (getParameterByName('PrId')) {
                            this.getWerkbegroting(null, getParameterByName('PrId'));
                            this.selectedProject = getParameterByName('PrId');
                        } else {
                            this.getProjects();
                        }
                    }

                },
                getProjects(event) {
                    if (event) event.preventDefault();
                    NProgress.start();
                    var vm = this;
                    vm.error = null;

                    //save in localStorage
                    localStorage.setItem('url', vm.url)
                    localStorage.setItem('token', vm.token);

                    var url = vm.url + '/connectors/PtForecast_werkbegrotingen?orderbyfieldsid=Project';
                    var request = new Request(url, {
                        headers: new Headers({
                            "Content-Type": "application/json",
                            "Authorization": "AfasToken " + btoa(vm.token)
                        })
                    });

                    fetch(request).then(function(res) {
                        return res.json();
                    }).then(function(res) {
                        vm.projects = res.rows;
                        NProgress.done();
                    }).catch(function(err) {
                        console.log(err);
                        vm.error = 'error ' + err;
                        NProgress.done();
                    })
                },
                saveMonitorId(monitorid, event) {
                    if (event) event.preventDefault();
                    NProgress.start();
                    monitorid.succes = false;
                    var vm = this;
                    var formData = {
                        "PtConProjectForecast": {
                            "Element": {
                                "@PrId": monitorid.Project,
                                "@MoId": monitorid.Bewakingscode,
                                "Fields": {
                                    "Date": new Date().toISOString().substring(0, 10),
                                    "PeRe": monitorid.progressNw,
                                    "Adju": monitorid.adjustmentNW,
                                    "Re": monitorid.toelichting
                                }
                            }
                        }
                    };

                    var url = vm.url + '/connectors/PtConProjectForecast';
                    var request = new Request(url, {
                        method: 'POST',
                        body: JSON.stringify(formData),
                        headers: new Headers({
                            "Content-Type": "application/json",
                            "Authorization": "AfasToken " + btoa(vm.token)
                        })
                    });

                    fetch(request).then(function(res) {
                        NProgress.done();
                        vm.getWerkbegroting(monitorid.Offertenummer);
                    }).catch(function(err) {
                        vm.error = err;
                        NProgress.done();
                    })

                },
                getWerkbegroting(offertenummer, projectnummer) {
                    NProgress.start();
                    var vm = this;
                    vm.error = null;

                    var url = (offertenummer ? vm.url + '/connectors/PtForecast_standopname/Offertenummer/' + offertenummer + '?orderbyfieldsid=Bewakingscode' : vm.url + '/connectors/PtForecast_standopname/Project/' + projectnummer +
                        '?orderbyfieldsid=Bewakingscode');
                    var request = new Request(url, {
                        headers: new Headers({
                            "Content-Type": "application/json",
                            "Authorization": "AfasToken " + btoa(vm.token)
                        })
                    });

                    fetch(request).then(function(res) {
                        return res.json();
                    }).then(function(res) {
                        return _.orderBy(res.rows, ['Bewakingscode'], ['asc']);
                    }).then(function(res) {
                        vm.monitorids = _(res).forEach(function(monitorid) {
                            _.extend(monitorid, {
                                adjustmentNW: 0,
                                progressNw: null,
                                toelichting: null
                            })
                            return monitorid;
                        })
                        NProgress.done();
                    }).catch(function(err) {
                        vm.error = err;
                        NProgress.done();
                    })
                },
                getCssInSite() {
                    //include js en css from InSite
                    if (getParameterByName('dataurl')) {

                        fetch(getParameterByName('dataurl') + "?callback=JSON_CALLBACK")
                            .then((response) => response.text())
                            .then((responseText) => {
                                const match = responseText.split('(')[1].split(')')[0];
                                return JSON.parse(match);
                            })
                            .then(function(response) {
                                var cssFile = response.cssUrl;
                                var jsFile = response.scriptUrl;
                                var neutralStyleSheet = cssFile.replace("integration", "neutraal");
                                var ss = document.createElement("link");
                                var js = document.createElement("script");
                                ss.type = "text/css";
                                ss.rel = "stylesheet";
                                ss.href = neutralStyleSheet;
                                document.getElementsByTagName("head")[0].appendChild(ss);
                                js.src = jsFile;
                                document.getElementsByTagName("head")[0].appendChild(js);
                            })
                            .catch(function(response) {
                                console.log('error appending css en js');
                            });
                    }
                }
            },

            watch: {
                selectedProject: function(val, oldVal) {
                    var vm = this;
                    val = val.split('(')[1].split(')')[0];
                    vm.getWerkbegroting(val);
                }
            }
        })
    </script>
</body>

</html>
